<label for="preg" class="rem">Pregunta:</label>
<input id="preg" type="text" name="quiz[pregunta]" value="<%= quiz.pregunta%>" placeholder="Introducir Pregunta">
<label for="resp" class="rem">Respuesta:</label>
<input id="resp" type="text" name="quiz[respuesta]" value="<%= quiz.respuesta%>" placeholder="Introducir Respuesta">
<label for="tema" class="rem">Tema:</label>
<select name="quiz[tema]" id="tema">  
  <option value="">...</option>
  <option value="cultura" <%if(quiz.tema==="cultura"){%><%='selected'%><%}%>>Cultura</option>
  <option value="otro" <%if(quiz.tema==="otro"){%><%='selected'%><%}%>>Otro</option>
  <option value="humanidades" <%if(quiz.tema==="humanidades"){%><%='selected'%><%}%>>Humanidades</option>
  <option value="ocio" <%if(quiz.tema==="ocio"){%><%='selected'%><%}%>>Ocio</option>
  <option value="ciencia" <%if(quiz.tema==="ciencia"){%><%='selected'%><%}%>>Ciencia</option>
  <option value="tecnologia" <%if(quiz.tema==="tecnologia"){%><%='selected'%><%}%>>Tecnología</option>
</select>
<a href="/quizes"><button type="button">Cancelar</button></a>
<input type="submit" value="Guardar">