<form method="get" action="/quizes/<%=quiz.id%>/answer">
  <p><%=quiz.pregunta%></p>
	<br>
	<input type="text" name="respuesta" placeholder="Responde aquí" class="caja-texto">
	<input type="submit" value="Enviar" class="boton boton-enviar">
</form>
<br>
<p><a href="/quizes/<%= quiz.id %>/comments/new"><button type="button" class="boton boton-crear">Nuevo Comentario</button></a></p>
<p><strong>Comentarios:</strong></p>
<table>
<%for(index in quiz.Comments){%>
<tr>
<%if(quiz.Comments[index].publicado||session.user){%>
<td><p>- <%=quiz.Comments[index].texto%></p></td>
<%if (session.user&& !quiz.Comments[index].publicado){%><td>
	<form method="post" action="/quizes/<%=quiz.id%>/comments/<%=quiz.Comments[index].id%>/publish?_method=put">
		<input type="submit" value="Publicar" class="boton boton-buscar">
	</form>
	</td>
	<%}%>
	
<%}%>
</tr>
<%}%>
</table>