<h2>Estadísticas</h2><br>
<table>
    <tr><td><p>Cantidad de preguntas</p></td><td><p> <%=ln1%></p></td></tr>
    <tr><td><p>Cantidad de comentarios</p></td><td><p> <%=ln2%></p></td></tr>
    <tr><td><p>Promedio de comentarios por pregunta</p></td><td><p> <%=ln3%></p></td></tr>
    <tr><td><p>Cantidad preguntas sin comentarios</p></td><td><p> <%=ln4%></p></td></tr>
    <tr><td><p>Cantidad de preguntas con comentarios</p></td><td><p> <%=ln5%></p></td></tr>
</table>